# directories
.vs/
/build
testing/local
dependencies/LLVM_build

# sublime
*.sublime-project
*.sublime-workspace

# visual studio
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.slnx

# misc
*.ini
*.ico