# directories
.vs/
build/
testing/local
dependencies/LLVM_build

# outputs
testing/*.o
testing/*.exe
testing/*.pdb
testing/*.ll
testing/*.S


# sublime
*.sublime-project
*.sublime-workspace

# visual studio
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# misc
*.ini
*.ico