# directories
.vs/
build/
testing/local

# outputs
*.o
*.exe
*.pdb
*.ll

# sublime
*.sublime-project
*.sublime-workspace

# visual studio
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# misc
*.ini
*.ico